.courses {
  padding: 100px 10%;
  text-align: left;
  @media (max-width: 1458px) {
    text-align: center;
  }
}
.courses__title {
  @include title(30px);
  margin: 10px;
}
.courses__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media (max-width: 1513px) {
    justify-content: space-around;
  }
}
.course {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  max-height: 729px;
  box-shadow: 0 2px 5px rgba(27, 23, 26, 0.26);
  background-color: #ffffff;
  text-align: start;
  margin: 10px;
}
.course__img {
  @extend %img-center;
  width: 100%;
}
.course__block {
  margin: 30px;
}
.course__row {
  display: flex;
  justify-content: space-between;
}
.course__direction {
  opacity: 0.75;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
}
.course__price {
  color: #1414d9;
  font-size: 23px;
  font-weight: 700;
}
.course__name {
  margin: 0;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.03px;
  letter-spacing: 0.72px;
}

.course__text {
  @extend %text;
  letter-spacing: 0.64px;
  margin: 45px 0 45px 0;
}
.course__btn {
  @include btn(12px, 160px, 51px);
}
